@font-face {
    font-family: 'gameFont';
    src: url('fonts/PressStart2P-vaV7.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gameFont', Arial, sans-serif;
}

body {
    background-color: #b3ca90;
    color: #5f6053;
    margin:0;
	display:flex;
	height:100vh;
	align-items: center;
    justify-content: center;
}

.container {
    background-color: #fcfbe7;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    max-width: 500px;
    border: 2px solid #5f5f5f;
}

h1 {
    text-align: center;
}

.scores {
    display: flex;
    gap: 30px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    font-family: ;
    background-color: #768f5e;
    color: #fcfbe7;
    border-color: #5f6053;
    border-radius: 30px;
    padding: 10px;
    width: 130px;
}

button:hover {
    background-color: #b3ca90;
    cursor: pointer;
}

img {
    width: 250px;
    height: auto;
}

/* test to see border */

/* * { outline: 1px solid red !important; } */