@font-face {
    font-family: 'gameFont';
    src: url('fonts/PressStart2P-vaV7.ttf');
}

@font-face {
    font-family: 'subGameFont';
    src: url('fonts/Ithaca-LVB75.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gameFont', Arial, sans-serif;
}

.body {
    background-color: #b3ca90;
    color: #5f6053;
    margin:0;
	display:flex;
    flex-direction: column;
	height:100vh;
	align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    background-color: #fcfbe7;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    max-width: 70vw;
    border: 2px solid #5f5f5f;
}

.musicButton {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: #fcfbe7;
    background-size: contain;
    background-image: url(img/play-button.png);
}

.musicButton:hover {
    background-color: #b3ca90;
}

h1 {
    text-align: center;
}

.scores {
    display: flex;
    gap: 30px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    background-color: #768f5e;
    color: #fcfbe7;
    border-color: #5f6053;
    border-radius: 30px;
    padding: 10px;
    width: 130px;
}

button:hover {
    background-color: #b3ca90;
    cursor: pointer;
}

img {
    width: 250px;
    height: auto;
}

.battle {
    font-size: 11px;
    color: #768f5e;
}

.popup {
    background-color: #b3ca90;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px grey;
    border: solid 1px #5f5f5f;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.popup img {
    width: 150px;
    height: auto;
}

.popupItems {
    display: flex;
    padding: 20px;
}

.popupRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: large;
    }

    img {
        width: 200px;
        height: auto;
    }

    .container {
        gap: 10px;
    }

    .buttons {
        flex-direction: column;
    }

    p {
        font-size: x-small;
    }
}
/* test to see border */

/* * { outline: 1px solid red !important; } */